@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

body {
    font-family: "Mulish", sans-serif;
    overflow: hidden;
}
.main {
    margin-left: 30%;
    margin-top: 13%;
    background: #abbcc698;
    width: 550px;
    height: 300px;
    border-radius: 15px;
    color: black;
}
.main1 {
    margin-left: 30%;
    margin-top: 13%;
    background: #abbcc698;
    width: 550px;
    height: 350px;
    border-radius: 15px;
}
.login__field {
    padding: 20px 0px;
    position: relative;
}
.card-header {
    text-align: center;
}
.input {
    background: transparent;
}
.input:hover {
    background: transparent;
}
.logo {
    width: 200px;
    cursor: pointer;
    padding: 20px;
}
