@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
.body {
    width: 100%;
    height: 100vh;
    background: rgba(245, 241, 241, 0.5);
}
.logo {
    width: 140px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 10px;
}
.register-btn {
    padding: 8px 20px;
    border-radius: 20px;
    margin-left: 1000px;
    text-decoration: none;
    font-size: 14px;
}

.search-bar {
    /* position: absolute; */
    width: 70%;
    height: 9%;
    padding: 6px 10px 6px 30px;
    border-radius: 7px;
    border: 1px solid #f88a8e;
    margin-top: 40px;
}
.search-bar form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-bar form input {
    display: block;
    border: 0;
    outline: none;
    background: rgba(245, 241, 241, 0.5);
}

.location-input {
    flex: 1;
}
.search-bar form label {
    font-weight: 600;
}
.sub-title {
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

/* ----listing page---- */
.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    height: 60px;
}
.list-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}
.list-container1 {
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.left-col {
    flex-basis: 70%;
    margin-top: 50px;
}
.right-col {
    flex-basis: 25%;
}
.left-col h1 {
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}
.house {
    display: flex;
    width: 90%;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}
.house-img {
    flex-basis: 40%;
}
.house-info {
    flex-basis: 58%;
    color: #555;
}
.house-img img {
    width: 100%;
    border-radius: 12px;
}
.house-img1 img {
    border-radius: 12px;
    width: 100%;
    height: 550px;
    margin-left: 120px;
}

.house-info h3 {
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.house-info h6 {
    color: black;
}
.house-price {
    text-align: right;
}
.house-price h4 {
    font-size: 20px;
}
.house-price h4 span {
    font-size: 16px;
    font-weight: 500;
}
.adminform {
    height: 60%;
    width: 70%;
    /* background: rgb(134, 130, 130); */
    border-radius: 7px;
    padding: 4%;
    margin-left: 15%;
    margin-top: 8%;
}
.report1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.report {
    width: 50%;
}

.subreport {
    margin-left: 20px;
    width: 50%;
}
.adminform1 {
    height: 80%;
    width: 80%;
    background: white;
    border-radius: 7px;
    padding: 4%;
    overflow: scroll;
}
#popup {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgba(107, 107, 107, 0.5);
    position: absolute;
    align-items: center;
    display: none;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
}

#popup1 {
    cursor: pointer;
    width: 15%;
    height: 38%;
    background: white;
    position: absolute;
    display: none;
    top: 75px;
    left: 80%;
    border: 1px solid #f88a8e;
    border-radius: 6px;
}
#add {
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    height: 30px;
    position: relative;
    width: 90px;
}
.booking {
    height: 80%;
    width: 50%;
    background: white;
    border-radius: 7px;
    padding: 4%;
    align-content: center;
}
a {
    text-decoration: none;
    cursor: pointer;
}

#img-logo {
    border-radius: 40px;
    width: 40px;
    margin-left: 1150px;
    margin-top: 10px;
}
#img-logo1 {
    border-radius: 50px;
    width: 50px;
}
li {
    text-decoration: none;
    list-style: none;
}

.button {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    padding-top: 10px;
}
.button1 {
    color: #ff252b;
    margin-left: 20px;
    padding-top: 10px;
    font-size: 17px;
}
.button2 {
    color: #ff252b;
    margin-left: 65px;
    font-size: 16px;
}
.name {
    border-bottom: 1px solid rgb(131, 126, 126);
    display: flex;
    margin-top: 5px;
    padding-bottom: 7px;
}
.icon {
    color: #ff252b;
}
#dataNotFound {
    width: 70%;
    height: 40px;
    margin-left: 18%;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #583740;
    background-color: #dedbdbab;
    font-size: 25px;
}
#table {
    width: 70%;
    margin-left: 18%;
}
#heading {
    margin-left: 15%;
}
#houseDetails {
    margin-right: 80%;
    margin-top: -40px;
}
#ownerdetails {
    margin-right: 10%;
}
#otherdetails {
    margin-left: 10%;
}
#ownerdetails h4 {
    color: #ff252b;
}
